{{- $postCount := .Site.Params.postCount }}
{{- $page := .Page}}
{{- with $postCount.enable }}
	{{- with $postCount.wordcount }}
		<span class="post-wordcount hidden-xs" itemprop="wordCount">{{ T "article_wordcount" -}}:&nbsp;{{- $page.WordCount }}&nbsp;{{ T "unit_word" }}</span>
	{{- end }}
	{{- with $postCount.min2read }}
		<span class="post-readcount hidden-xs" itemprop="timeRequired">{{ T "article_readcount" }}:&nbsp;{{- $page.ReadingTime }}&nbsp;{{ T "unit_time" }} </span>
	{{- end }}
{{- end }}